---
---

$pagewidth: 85%;
$logo: url("/img/JavaDukeFY14_Scientist_full_small.png");

html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: $pagewidth;
  min-width: 60em;
  margin: 0 auto;
  padding: 0;

  img {
    height: 10em;
    width: 10em;
  }

  h1 {
    text-align: center;
    align-self: center;
  }
}

nav, footer {
  padding: 0;
  margin: 0;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-content: center;

    li {
      padding: 0.5em;
      margin: 0.5em;
    }
  }
}

article {
  width: $pagewidth;
  min-width: 60em;

  margin: 1em auto;
  padding: 1em;


  &:nth-child(odd) {
    background: cornflowerblue;
  }

  &:nth-child(even) {
    background: beige;
  }

  &:first-child {
    margin-top: 0em;
  }

  &:last-child {
    margin-bottom: 0em;
  }

  h1::after {
    content: attr(data-icon);
    width: 3em;
    height: 3em;
  }
}

.flex-box {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

  section {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-shrink: 0;

    img {
      width: 5em;
      height: 5em;

      margin: 1em;

      object-fit: cover;
      border-radius: 100%;
    }
  }
}

footer {
  a {
    &:before {
      font-family: 'FontAwesome';
      margin-right: 0.3em;
    }

    &.github {
      &:before {
        content: "\f09b";
      }
    }

    &.facebook {
      &:before {
        content: "\f230";
      }
    }

    &.instagram {
      &:before {
        content: "\f16d";
      }
    }

    &.twitter {
      &:before {
        content: "\f099";
      }
    }
  }
}