---
---
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{{% site.baseurl %}}/css/style.css"/>
    <link rel="icon" type="image/icon" href="img/favicon.ico"/>

    <title>{{ site.title }}</title>
</head>
<body>
<header id="home">
    <nav>
        <ul>
            <li class="header">
                <a href="#home">
                    <h1>javaBin</h1>

                    <!--<h2>Javabrukerforeningen i Norge</h2>-->
                </a>
            </li>

            {% assign posts = site.posts | sort:"index" %}

            <li id="hamburger">
                <a>&nbsp;</a>
                <ul>
                    {% for post in posts %}
                    <li><a href="#{{ post.cssId }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</header>

{% assign posts = site.posts | sort:"index" %}
{% for post in posts %}
<article id="{{ post.cssId }}">
    <div class="header">
        <h1 data-icon="/img/JavaDukeFY14_Scientist_full_small.png">{{ post.title }}</h1>
        {% if post.image %}
        <img data-src="{{ post.image }}" src="{{ post.image }}" alt="Bilde som beskriver {{ post.title }}"/>
        {% endif %}
    </div>
    {{ post.content }}
</article>
{% endfor %}
<footer>
    <ul>
        <li><a href="https://www.facebook.com/javabin" class="facebook">Facebook</a></li>
        <li><a href="https://github.com/javaBin" class="github">GitHub</a></li>
        <li><a href="https://instagram.com/javabin/" class="instagram">Instagram</a></li>
        <li><a href="https://twitter.com/javaBin" class="twitter">Twitter</a></li>
        <li><a href="https://vimeo.com/javabin" class="vimeo">Vimeo</a></li>

        <li><a href="http://www.javazone.no" class="javazone">JavaZone</a></li>
        <li><a href="http://www.teknologihuset.no" class="teknologihuset">Teknologihuset</a></li>
    </ul>
</footer>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="js/sammy.js"></script>
<!--<script src="js/better-details-polyfill.js"></script>-->
<script src="js/scripts.js"></script>

</body>
</html>