---
---
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/style.css"/>
    <link rel="icon" type="image/icon" href="img/favicon.ico"/>

    <title>{{ site.title }}</title>
</head>
<body>
<nav id="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                javaBin {}
            </a>
        </div>

        {% assign posts = site.posts | sort:"index" %}

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for post in posts %}
                <li>
                    <a href="#{{ post.cssId }}">
                        {{ post.title }} <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% endfor %}
                <li><a href="{{ site.baseurl }}/helteliste">Helteliste</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    {% assign posts = site.posts | sort:"index" %}
    {% for post in posts %}
    <section id="{{ post.cssId }}" class="row">
        <h1>{{ post.title }}</h1>
        <article>
            {{ post.content }}
        </article>
    </section>
    {% endfor %}


    <footer>
        {% include social-media.html %}
        {% include external-links.html %}
    </footer>

    {% include scripts.html %}

</div> <!-- /container -->
</body>
</html>
