<nav id="navbar" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                < javaBin > <a href="eng.html">EN</a> <a href="/">no</a>
            </a>
        </div>

        {% assign posts = site.en | sort:"index" %}

        <div class="collapse navbar-collapse" id="menu-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for post in posts %}
                <li>
                    <a href="{{ site.baseurl }}/#{{ post.cssId }}">
                        {{ post.title }} <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
