<ul id="socialMedia">
    <li>
        <a href="https://www.facebook.com/javabin" class="facebook" target="_blank">
            <span>Facebook</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/javaBin" class="github" target="_blank">
            <span>GitHub</span>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/javabin/" class="instagram" target="_blank">
            <span>Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/javaBin" class="twitter" target="_blank">
            <span>Twitter</span>
        </a>
    </li>
    <li>
        <a href="https://vimeo.com/javabin" class="vimeo" target="_blank">
            <span>Vimeo</span>
        </a>
    </li>
    <li>
        <a href="mailto:styret@java.no" class="email">
            <span>Email</span>
        </a>
    </li>
</ul>
