
.board-members {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    & .board-member {
        flex: 1 0 21%;
        text-align: center;
        & img {
            height: 200px;
        }
    }
}