
.policy {

  h1, h2, h3, h4 {
    color: $jzSalmonRed;
  }

  p {
    text-align: justify;
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
  	padding-left: 40px;
  	padding-bottom: 16px;
  }
}
