section {
    padding: 50px 0;

    & h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    & h3.section-subheading {
        font-size: 16px;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }

    &:nth-child(2n) {
        background-color: $lightGray;
    }
}

@media (min-width: 768px) {
    section {
        padding: 130px 0 150px 0;
    }
}