

a {
    color: $jzSalmonRed; // jz salmon red
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

ul#socialMedia {
    list-style: none;

    li {
        display: inline-block;
    }

    a {
        font-size: 3em;
        text-decoration: none !important;

        span {
            display: none;
        }

        &:before {
            margin-right: 0.3em;
            height: 1em;
            width: 1em;
        }
    }
}
