$headerHeight: 3em;

$jzOrange: #f58646; // jz orange
$jzYellow: #fcaf1a; // jz yellow
$jzYellow2: #fed136; // jz yellow
$jzYellow3: #fec503; // jz yellow
$jzDarkRed: #a11c38; // jz dark red
$jzSalmonRed: #f05350; // jz salmon red

$white: white;
$dimWhite: #f1f1f1;
$dimGray: #777777;
$lightGray: #eee;
$lightGrayD: #ddd;

