/* Felles CSS-regler */
html {
  box-sizing: border-box;
}

* {
  color: $mainTextColor;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  &:visited {
    color: #ccc;
  }

  &:hover {
    color: $linkHoverColor;
  }

  &:active {
    color: $linkColor;
  }
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
  line-height: 1.5;

}

html {
  background: $backgroundColor;
}

nav {
  padding: 0;
  margin: 0;

  ul {
    @include flexbox;
    list-style: none;
    padding: 0;
    margin: 0;

    @include align-content(center);
    @include justify-content(center);

    li {
      display: block;
    }
  }
}