footer {
  width: $pagewidth;

  padding: 0;
  margin: auto;

  @include flexbox;

  @include align-content(center);
  @include justify-content(space-between);

  ul {
    @include flexbox;
    @include flex(auto);

    list-style: none;
    padding: 0;
    margin: 0;

    @include justify-content(flex-start);

    &.external {
      @include justify-content(flex-end);
      //@include justify-self(flex-end);
    }

    li {
      text-decoration: none;
      font-size: 1rem;
      padding: 1em;


      a {
        &:before {
          font-family: fontawesome;
          margin-right: 0.3em;
          color: #c4e3f3;
          height: 1em;
          width: 1em;

          text-decoration: none;
        }

        &.facebook {
          &:before {
            content: "\f230";
          }
        }

        &.github {
          &:before {
            content: "\f09b";
          }
        }

        &.instagram {
          &:before {
            content: "\f16d";
          }
        }

        &.twitter {
          &:before {
            content: "\f099";
          }
        }

        &.vimeo {
          &:before {
            content: "\f27d";
          }
        }

        &.javazone {
          margin-left: 1rem;

          &:before {
            position: absolute;
            height: 1.3rem;
            padding-left: 1.6rem;
            margin-left: -1.6rem;
            content: " ";
            background: url('http://2016.javazone.no/assets/favicon-96x96.png') no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}