@import "bootstrap/bootstrap";
@import "bootstrap_override";
@import "farger";

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.maximgsize {
  max-width: 400px;
  height: auto;
}

.imgmarginbottom {
  margin-bottom: 4px;
}

.row-centered {
    text-align: center;
    width: 100%;
}

a {
  &:before {
    font-family: fontawesome;
    margin-right: 0.3em;
    height: 1em;
    width: 1em;
  }

  &.facebook {
    &:before {
      content: "\f230";
    }
  }

  &.github {
    &:before {
      content: "\f09b";
    }
  }

  &.instagram {
    &:before {
      content: "\f16d";
    }
  }

  &.twitter {
    &:before {
      content: "\f099";
    }
  }

  &.vimeo {
    &:before {
      content: "\f27d";
    }
  }

  &.javazone {
    margin-left: 1rem;

    &:before {
      position: absolute;
      height: 1.3rem;
      padding-left: 1.6rem;
      margin-left: -1.6rem;
      content: " ";
      background: url('http://2016.javazone.no/assets/favicon-96x96.png') no-repeat;
      background-size: contain;
    }
  }
}
