@import "felles";

@media(max-width: $minwidth) {
  header {
    left: 0;
  }

  header, article, footer {
    width: 100%;
    min-width: 0;
  }

  article {
    &#om, &#bidra {
      -webkit-column-count: auto;
      column-count: auto;
    }

    &#meetup {
      @include flex-flow(column nowrap);
      div.flex-box {
        div.meetup {
          @include flex-flow(column);
        }
      }
    }
  }

  footer, header nav {
    ul {
      @include flex-flow(column wrap);
    }
  }

  header {
    nav {
      width: 100%;
      ul {
        width: 100%;
        //@include align-content(center);
        //border: solid thin black;
        li {
          //@include align-items(center);
          &.header {
            //@include justify-self(center);
          }

          &#hamburger {
            @include flex-flow(column wrap);

            margin: 0;
            padding: 0;

            > a {
              font-size: 1.3em;
              display: inherit;
              margin: 0.5em;

              &:before {
                font-size: 1.5em;
                content: "\f0c9";
                font-family: fontawesome;
                margin-right: 0.5em;
                line-height: 1em;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
              }
            }

            ul {
              visibility: hidden;

              height: 0px;

              width: 100%;

            }

            &:hover {
              ul {
                visibility: visible;
                height: inherit;
              }
            }
          }

          a {
            width: 100%;
          }
        }
      }
    }
  }

  article#regioner {
    details {

      > div {
        @include flexbox();
        @include flex(1);
        @include flex-flow(column nowrap);
        //border-color: red;

        figure {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}