/* ---------------------------------------------------------------------------
CSS document for java.no
	* Website:         http://java.no
	
Created by:
	* Stig Nicolaisen (http://stign.no)

Design by:
	* Virgil Cameron (http://virgilcameron.com)

Hacking by:
  * Harald & Thor ï¿½ge

Doer of good: Espen
--------------------------------------------------------------------------- */


/* ---------------------------- Browser reset ---------------------------- */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	outline-color:invert;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
}

body {
	background:#fff /* #E3E3E3 */;
	font-family:Arial,Helvetica,sans-serif;
}

*:focus {
	outline-color:invert;
	outline-style:none;
	outline-width:0;
}

sup {
	vertical-align: super;	
}


ul.horiz {
	list-style-type:none;
	padding:0pt;
}

a:link, a:visited {
	text-decoration:none;
	color: #1C5890;
}

blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

/* Float me */
.left {
	float: left;
}

.right {
	float: right;
}

/* Clearing the float */
.clearboth {
	clear: both;
}

.clearboth:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* IE6 gain .hasLayout */
* html .clearboth {
	height: 1%;
}

/* IE7 gain .hasLayout */
*+ html .clearboth {
	min-height: 1%;
}

.image .caption { 
	font-size:80%;
	margin:-5px 0px 0px 0px;
}


#header h1, #mainmodule .announcements h2, #mainmodule .column h2 {
	color:#FFFFFF;
	font-weight:normal;
}

h3 {
	color:#2A6297;
	font-size: 1.6em;
	font-weight:normal;
}

h3 a {
  color: inherit;
}
/* ------------------- Grid and element styling ------------------- */
.wrapper {
	margin:0 auto;
	background:transparent;
	position:relative;
	width:900px;
}

/* ------------------- Header ------------------- */
#header_bg {
	background:#3A71A5 url('../images/full_header_bg.gif') 0 0 repeat-x;
	height:133px;
	margin-bottom:-133px;
}

#header {
	background:transparent;
	height:132px;
	text-align:center;
}


/* ------------------- Main Menu ------------------- */
#mainmenu {
	background:#FFFFFF url('../images/mainmenu_bg.gif') 0 0 repeat-x;
	height:92px;
	overflow:hidden;
	padding:0;
}

#mainmenu .horiz {
    margin: 0 auto;
    text-align:center;
}

#mainmenu a {
	line-height:55px;
	padding:0 9px;
	color:#1C5890;
	font-size:110%;
	font-weight:bold;
}


/* ------------------- FronPage News ------------------- */

.notice {
	margin: 0 1px 20px 1px;
	padding: 5px 5px 10px 5px;
	border: 1px solid #90c3eb;
	border-width: 0 1px 1px 1px;
}


/* Styling for Lecture pages */

.lecture_index_narrow {
	float: left;
	width: 255px;
	margin: 20px 0 30px 0;
	padding-bottom: 15px;
	background: #fcfcfc url('../images/nrw-index-bg.gif') 0 bottom no-repeat;
}

.lecture_index_narrow h4{
	background: url('../images/nrw-crv-header.gif') 0 0 no-repeat;
	height: 38px;
	padding: 5px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
}


.lecture_index_wide {
	clear: both;
	float: none;
	margin-bottom: 30px;
}

.lecture_index_wide h4{
	background: url('../images/wide-crv-header.gif') 0 0 no-repeat;
	padding: 3px 20px 4px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #fff;
}

/* ------------------- Footer ------------------- */

#footer {
	background: url('../images/footer_bg.jpg') 0 0 repeat-x;
}

#footer ul {
	padding: 10px;
}

#footer h3, #footer a {
	color: #fff;
}

#footer .column {
	float: left;
	width: 160px;
	border-left: 1px dotted #fff;
	margin: 35px 15px 0 0;
	padding-left: 8px;
}

#footer .column h3 {
	font-size: 1.8em;
	margin: 0 0 20px 7px;
}

#footer .column img {
	margin: 0 0 5px 7px;
}

#footer .column li {
	width: 80%;
	margin-bottom: 10px;
	padding-left: 17px;
	background: url('../images/footer_arw.jpg') 0 0 no-repeat;
	list-style-type:none;
}

#footer .column li a {
	color: #fff;
}

#footer .column ul.feed li {
	width: 80%;
	margin-bottom: 0;
	padding-left: 0;
	background: none;
}
