#header {
    margin-top: 0;
    height: 30px;
    background-color: #494949;
}

#nav {
    font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
    text-align: right;
    font-size: 17px;
    margin-top: 40px;
    float: right;
    color: #494949;
}

#nav a, ul {
    color: #000;
    text-decoration: none;
}

#headline a {
    color: #000;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    float: left;
    margin-right: 12px;
}

.error {
    color: red;
    font-weight: bold;
    float: right;
    margin-right: 70px;
}

h2 {
    font-family: 'Lobster13Regular', Arial, Helvetica, sans-serif;
}

.lineItem {
    margin-top: 10px;
    height: 140px;
    -webkit-box-shadow: 3px 3px 5px #D4D4D4;
    -moz-box-shadow: 3px 3px 3px #D4D4D4;
    box-shadow: 3px 3px 5px #D4D4D4;
    outline: 3px solid white;
    overflow: hidden;
}

.lineItemText {
    color: #494949;
    position: relative;
    margin-top: 10px;
}

.lineItemText h2 {
    font-family: 'Lobster13Regular', Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 6px;
    width: 85%;
}

.lineItemText p {
    font-size: 13px;
    font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
}

.lineItemText .participantCount {
    position: absolute;
    right: 10px;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
}

.lineItemText .participantCount .count {
    font-size: 42px;
}

.lineItemText .description {
    width: 85%;
}

.lineItemText .eventActions {
    padding-top: 20px;
}

.eventActions .icon {
    background: url(../images/sprite-eventActions.png) no-repeat;
    padding: 2px 8px;
    margin-top: 20px;
}

.eventActions .attend .icon {
    background-position: 0px 0px;
}

.eventActions .show .icon {
    background-position: 0px -26px;
}

.eventActions .map .icon {
    background-position: 0px -50px;
    padding: 4px 9px;
}

.eventActions .participants .icon {
    background-position: 0px -76px;
    padding: 8px 12px;
}

.eventActions .calendar .icon {
    background-position: 0px -112px;
}

.eventActions .pdf .icon {
    background-position: 0px -136px;
    padding: 4px 8px;
}

.eventActions .tweet .icon {
    background-position: 0px -164px;
}

.eventActions .slides .icon {
    background-position: 0px -190px;
}

.eventActions a {
    color: #1C5890;
    text-decoration: none;
    margin-right: 10px;
}

.eventActions a:hover {
    text-decoration: none;
}

p {
    font-size: 13px;
    font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
}

p ul {

}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.image .text {
    position: absolute;
    top: 10px;
    left: 180px;
    width: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.image .lectureholder_text {
    position: absolute;
    top: 110px;
    left: 10px;
    width: 120px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.awesome {
    background: #222 repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
}

.awesome.participants {
    vertical-align: middle;
}

.awesome:hover {
    text-decoration: none;
}

.awesome:active {
    top: 1px;
}

.people {
    width: 18px;
    vertical-align: middle;
    padding: 0px;
}

.people:active {
    top: 2px;
}

.map:active {
    top: 2px;
}

.jqifade {
    position: absolute;
    background-color: #aaaaaa;
}

div.jqi {
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}

div.jqi .jqicontainer {
    font-weight: bold;
}

div.jqi .jqiclose {
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: default;
    color: #bbbbbb;
    font-weight: bold;
}

div.jqi .jqimessage {
    padding: 10px;
    line-height: 20px;
    color: #444444;
}

div.jqi .jqibuttons {
    text-align: right;
    padding: 5px 0 5px 0;
    border: solid 1px #eeeeee;
    background-color: #f4f4f4;
}

div.jqi button {
    padding: 3px 10px;
    margin: 0 10px;
    background-color: #2F6073;
    border: solid 1px #f4f4f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

div.jqi button:hover {
    background-color: #728A8C;
}

div.jqi button.jqidefaultbutton {
    background-color: #BF5E26;
}

.jqiwarning .jqi .jqibuttons {
    background-color: #BF5E26;
}

#simplemodal-overlay {
    background-color: #000;
}

#simplemodal-container {
    text-shadow: 0 0 4px #000;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 4px #000;
    -webkit-text-shadow: 0 0 4px #000;
    color: #FFFFFF;
    background-color: #1F477F;
    border: 8px solid #FFFFFF;
    padding: 12px;
    font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
}

#simplemodal-container a.modalCloseImg {
    background: url('../images/x.png');
    no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -18px;
    cursor: pointer;
}

table.listOldEvents {
    width: 100%;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-collapse: collapse;
}

table.listOldEvents tr {
    background: #F4F4F7;
    border-bottom: 1px solid #eee;
    margin: 10pt;

}

table.listOldEvents tr:nth-of-type(odd) {
    background: #fafafa;
}

table.listOldEvents tr > td {
    padding: 0.5em;
}

td.label {
    text-align: right;
    padding-right: 10px;
    width: 15%;
}

td.input {
    width: 30%;
}

span.infotxt {
    font-size: 90%;
    color: #000000;
}

#footer {
    position: relative;
    bottom: 0px;
    margin-top: 20px;
    width: 100%;
    background-color: #494949;
}

label {
    display: block;
    width: 120px;
    float: left;
    cursor: pointer;
}

p a {
    background-color: transparent;
}

h2 span.date {
    color: #999;
}

.hidden, #kart {
    display: none;
}

div.participant {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 5px;
    vertical-align: top;
    width: 150px;
}

.participant .participant_text {
    width: 90px;
    height: 50px;
    margin-bottom: 5px;
}

.smallText {
    font-size: 6pt;
}

#participants .participant {
    width: 130px;
    height: 30px;
    margin-bottom: 5px;
}

.grid_1 .participant_text {
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 10px;
}

#participants {
    display: none;
    text-align: left;
    overflow: scroll;
}

#participants .participantsHeader {
    text-align: center;
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #0099FF;
}

#participants .participantsContents {
    border: 2px solid #0099FF;
    -moz-border-radius: 8px; /*add some nice CSS3 round corners*/
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.arrow {
    width: 0px;
    height: 0 p;
    border-color: #fff #fff #0099FF #fff;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: #fff #fff #0066CC #fff;
    margin-left: 60%;
}

h2 a.eventTitle {
    color: #494949;
    text-decoration: none;
}

a.right {
    float: right;
}

.event-detail-label {
    font-weight: bold;
}

/* for generic bold text */
.bold-text {
    font-weight: bold;
}

table.meetings {
    width: 100%
}

.meetings td.small {
    width: 100px;
}

.endre_knapp {
    background-color: yellow;
    color: black;
}

.slette_knapp {
    background-color: red;
    color: black;
}

.info_knapp {
    background-color: green;
}

.epost_knapp {
    background-color: purple;
}

.bleste_knapp {
    margin-right: 2px;
    background-color: darkblue;
}

.lectureholder {
    width: 180px;
}

.lectureholder_small {
    width: 130px;
}

.lectureholder_xsmall {
    width: 120px;
}

#published {
    float: left;
    font-size: 8pt;
}

.checklist {
    font-size: 10pt;
}

.icon {
    vertical-align: middle;
}

.description {
    height: 40px
}

.contactus {
    color: white;
    font-size: 11pt;
}

.register_button {
    position: relative;
    top: 45px;
    left: 260px;
}

a.external-link:hover {

    text-decoration: underline;

}

.tipsoss {

    float: right;
    padding-top: 25px;
}

div.tipform {

    background: green;
    width: 600px;
    padding: 20px;
    color: white;
}

div.tipform h1 {

    font-weight: bold;
    font-size: 16px;
}

div.tipform input {

    width: 300px;
}

div.tipform label {

    width: 250px;
}

div.tipform textarea {

    width: 580px;
    height: 150px;
}

div.region-container {

    float: left;
    width: 200px;
    margin: 5px 5px;
    border-radius: 5px;
    border: gray 1px solid;
    display: table-cell;
    padding: 20px;
    text-align: center;
    font-size: 22pt
}

.front-infobox {

    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.region-page .intro {

    padding: 10px;
}

.region-page .details {

    padding: 10px;
}

.region-page .map {

    padding: 10px;
}

.region-page .row-fluid {

    margin-bottom: 10px;
}

.quicklinks {
    padding-top: 20px;
}

.meetups {

    padding: 20px 10px 10px 10px;
}

.nomeetups {
    text-align: center;
    font-size: 10pt;
    padding: 50px 0px 50px 0px;
}

.meetup {
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
}

.meetup .map {
    border-radius: 5px;
}

.meetup .eventlink {
    font-weight: bold;
}

.meetup .region {
    font-size: 10px;
}

.meetup .participants {
    text-align: center;
    padding-top: 5px;
}

.meetup .participants .yes {
    font-size: 18pt;

}

.meetup .participants .small {
    font-size: 10pt;

}

.meetups .bg0 {
    background-color: #fafafa;
}

.meetups .bg1 {
    background-color: #ffffff;
}

.meetup-loading {

    width: 100%;
    text-align: center;
}

